<header>
  <div class="pb2-m pb4-l {{ .Site.Params.background_color_class | default "bg-black" }}">
    {{ partial "site-navigation.html" . }}
    <div class="tc pv0 ph1 ph2-ns">
      <h1 class="f1 f-subheadline-m f-headline-l tracked fw3 presage-red mt4 mb0 lh-title">
        {{ .Title | default .Site.Title }}
      </h1>
    <div class="center w-100 w-50-ns">
      {{ partial "svg/presage.svg" . }}
    </div>
    {{ with .Params.description }}
      <h2 class="fw1 f5 f4-m f3-l presage-silver measure-wide center lh-copy mt3 mb4">
        {{ . }}
      </h2>
    {{ end }}
    </div>
  </div>
</header>
