
  .presage-red
  {
    color: #ff4a4a; /* presage red */
  }

  .presage-silver
  {
    color: #ccc; /* presage silver */
  }

  .presage-bg-gray
  {
    background-color: #696969; /* presage bg gray
  }
